<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Introducing the Shell</li>
      <li>Navigating Files and Directories</li>
      <li>Working With Files and Directories</li>
      <li>Pipes and Filters</li>
      <li>Loops</li>
      <li>Shell Scripts</li>
      <li>Finding Things</li>
      <!--<li><a href="{{site.ucl_site}}/hpc-shell/reference">Reference...</a></li>-->
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-hpc">Introduction to High-Performance Computing</h3>
    <ul>
      <li>Working on a remote HPC system</li>
      <li>Connecting to a remote HPC system</li>
      <li>Exploring Remote Resources</li>
      <li>Scheduler Fundamentals</li>
      <li>Accessing software via Modules</li>
      <li>Transferring files with remote computers</li>
      <li>Running a parallel job</li>
      <li>Using resources effectively</li>
      <li>Using shared resources responsibly</li>
      <!--<li><a href="{{site.ucl_site}}/hpc-intro/reference">Reference...</a></li>-->
    </ul>
  </div>
</div>
